{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		{% block head %}
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		{% csrf_token %}
		{% block robots_meta %}
		<meta name="robots" content="noodp,noydir" />
		{% endblock %}
		<link rel="icon" href="{% static 'vtmarketplace/img/vtmarketplace-icon-64x64.png' %}" type="image/png" />
		{% endblock %}
		{% include "vtmarketplace/includes/head.html" %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
		{% include "vtmarketplace/includes/body.html" %}
	</body>
</html>
