include README.md
include LICENSE
include MANIFEST.in
recursive-include vtmarketplace/bin *
recursive-include vtmarketplace/fixtures *
recursive-include vtmarketplace/geo/fixtures *
recursive-include vtmarketplace/sales/fixtures *
recursive-include vtmarketplace/pages/fixtures *
recursive-include vtmarketplace/payments/fixtures *
recursive-include vtmarketplace/financial/fixtures *
recursive-include vtmarketplace/static *
recursive-include vtmarketplace/templates *
recursive-include vtmarketplace/sales/static *
recursive-include vtmarketplace/sales/templates *
recursive-include vtmarketplace/catalog/static *
recursive-include vtmarketplace/catalog/templates *
recursive-include vtmarketplace/accounts/templates *
recursive-include vtmarketplace/payments/templates *
recursive-include vtmarketplace/conf/project_template *
recursive-include vtmarketplace/pages/static *
recursive-include vtmarketplace/pages/templates *
recursive-exclude * .DS_Store
recursive-exclude * *.py[co]
recursive-exclude * __pycache__
